#header {
  background-color: #c6c6c636;
  color: white;
  border-radius: 30px;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin-bottom: 10px;
}
body {
  background-color: #1b1b1b;
  margin: 0px;
  font-family: "Cairo", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Shantell Sans", cursive;
}
button{
    font-family: "Shantell Sans", cursive;

}

#all-content {
  height: 90vh;
  margin: 0px;
}

#main-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#grid-container {
  background-color: yellow;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px;
  border: #4d4d4d solid 12px;
  border-radius: 30px;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.9);
  aspect-ratio: 1;
  height: 300px;
}

#header-and-board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}

.square {
  padding: 20px;
  border: #1b1b1b solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
/* .square-content{
    width: 10px;
    height: 10px;
    font-size: 30px;
    padding: 0px;
} */


.square:hover {
  background-color: #c6b439;
}
.action-btn {
  font-size: 30px;
  padding: 7px 30px;
  border-radius: 30px;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  background-color: rgb(84 60 172);
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
}
.action-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.7);
  background-color: rgb(137, 105, 240);
}
